Repository GDSCUTM-CommunityProjects/UTimeManager, pull requests merged in 2022-02, with the labels that each got.

#5 Docs
  client/.dockerignore
  client/Dockerfile
  docker-compose.yml
  docs/.dockerignore
  docs/.gitignore
  docs/.idea/.gitignore
  docs/.idea/discord.xml
  docs/.idea/docs.iml
  docs/.idea/modules.xml
  docs/.idea/vcs.xml
  docs/Dockerfile
  docs/README.md
  docs/babel.config.js
  docs/blog/2022-02-02-getting-started/docusaurus-plushie-banner.jpeg
  docs/blog/2022-02-02-getting-started/index.md
  docs/blog/2022-02-02-milestone-1.md
  docs/blog/authors.yml
  docs/docs/api/Authentication/changePassword.md
  docs/docs/api/Authentication/login.md
  docs/docs/api/Authentication/signup.md
  docs/docs/getting-started/configuration.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/welcome.md
  docs/docs/misc/markdown-features.mdx
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/components/HomepageFeatures.js
  docs/src/components/HomepageFeatures.module.css
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/src/pages/index.module.css
  docs/src/pages/markdown-page.md
  docs/static/img/calendar.svg
  docs/static/img/favicon.ico
  docs/static/img/focus.svg
  docs/static/img/projectboard.svg
  docs/yarn.lock
  nginx.conf
Labels: documentation, Priority: Medium

#7 Login register components
  client/package.json
  client/public/index.html
  client/src/App.js
  client/src/components/CredentialsButton/CredentialsButton.js
  client/src/components/CredentialsButton/CredentialsButton.module.css
  client/src/components/CredentialsForm/CredentialsForm.js
  client/src/components/CredentialsForm/CredentialsForm.module.css
  client/src/components/CredentialsInputBox/CredentialsInputBox.js
  client/src/components/CredentialsInputBox/CredentialsInputBox.module.css
  client/src/components/DescriptiveTextButton/DescriptiveTextButton.js
  client/src/components/DescriptiveTextButton/DescriptiveTextButton.module.css
  client/src/components/ErrorMessage/ErrorMessage.js
  client/src/components/ErrorMessage/ErrorMessage.module.css
  client/src/components/TextButton.js
  client/src/components/ThemeText/ThemeText.js
  client/src/components/ThemeText/ThemeText.module.css
  client/src/pages/CredentialsPage/CredentialsPage.module.css
  client/src/pages/CredentialsPage/LoginPage.js
  client/src/pages/CredentialsPage/SignUpPage.js
  client/src/pages/PageNotFound/PageNotFound.js
  client/src/pages/PageNotFound/PageNotFound.module.css
  client/yarn.lock
Labels: Frontend: Enhancement

#9 Backend authentication
  backend/config/db.js
  backend/controllers/userController.js
  backend/middleware/authenticateToken.js
  backend/middleware/errorMiddleware.js
  backend/models/userModel.js
  backend/package.json
  backend/routes/userRoutes.js
  backend/sampleData/users.js
  backend/scripts/dataSeeder.js
  backend/server.js
  backend/utils/jsonUtils.js
Labels: Backend: Enhancement

#18 Backend create tasks
  backend/controllers/taskController.js
  backend/middleware/authenticateToken.js
  backend/models/userTasks.js
  backend/routes/taskRoutes.js
  backend/server.js
Labels: Backend: Enhancement
